
<h1> Create your post</h1>

<form method="post" action="/post/create_post" enctype="multipart/form-data">

    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class="form-control" name="title" placeholder="title">
    </div><br>

    <div class="form-group">
        <label for="">Description</label>
        <input type="text" class="form-control" name="description" placeholder="description">
    </div><br>

    <input type="file" name="myImageField">
    <input type="submit">
   

  
  

  </form>
