<html>

<head>
  <link rel="stylesheet" href="css/main.css" />

  <style>
    .topnav {
      overflow: hidden;
      background-color: #4a44a6;
    }

    .topnav .search-container {
      float: right;
    }

    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }

    .topnav .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }

    .topnav .search-container button:hover {
      background: rgb(40, 122, 79);
    }

    @media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }

      .topnav a,
      .topnav input[type=text],
      .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }

      .topnav input[type=text] {
        border: 1px solid #ccc;
      }
    }
  </style>

</head>

<body>

  <div class="topnav">
    <div class="search-container">
      <form action="/user/otherprofile" method="POST">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Search</button>
      </form>
    </div>
  </div>

  <button onclick="location.href='/user/profile'" type="button">Back</button>
  <br>

  <div class="row products">
    <% post.forEach(function(p) { %>
      <% if(p.username==username) { %>
        <div>
          <h1>
            <%= p.postinfo.title %>
          </h1>
          <h3>
            <%= p.postinfo.description %>
          </h3>
          <img src="<%= p.postinfo.imageurl %>" alt="Flowers in Chania" width="460" height="345">
        </div>
        <% } %>
          <% }); %>
  </div>



</body>


</html>