

<h1> <%= title %> </h1>

<form method="post" action="/user/signup">

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name">
    </div><br>

    <div class="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Userame">
    </div><br>

    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Userame">
    </div><br>

    <div class="form-group">
        <label for="">Create Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div><br>

   

    <br>
    <button class="btn btn-outline-dark" style= "position: absolute; right: 50%"  >Sign Up</button>
  
    <a href="/user/login">Login</a>

  </form>
